::selection {background: transparent;}
p{margin: 0; font: 12px/150% Arial; text-align: center; color: #888;}
p a{color: #888;}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html, body {
    height: 100%;
    width: 100%;
    /* font-family: Arial, sans-serif; */
}

.container{
    /* background-color: aqua; */
    background-image: url("img.jpeg");
	background-size: cover; 
	background-position: center;
	background-repeat: no-repeat;
    display:flex;
    flex-wrap: wrap;
    /* align-items: center; */

    justify-content: center;
    overflow:auto;
    /* margin:0; */
    /* width: 100%; */
    height: 100vh;
    /* height:100%; */
    /* padding-bottom: 100px; */
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height:20%;
    width:100%;
    padding-bottom: 10px;

    /* background-color: #f8f9fa; */
    /* border-bottom: 1px solid #dee2e6; */
}

.mainbody{
    /* height: 80%; */
    /* width:100%; */
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */
    /* overflow: auto; */
    /* margin-left :0; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.box{
	position: relative;
    padding-left: 140px;
    padding-bottom: 10px;
}
.innerbox{
    background-color: rgba(0, 123, 255, 0.8);
    border: 15px solid rgba(0, 123, 255, 0.8);
    border-radius: 8.5px;
}
#game{
    position: relative;
    margin:0;
    width: 325px;
    height: 325px;
    background-color: white;
	border: 4px solid white;
	border-radius: 7px;
    /* padding-left: 30px; */
}
#game span{
	position: absolute;
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 8px;
    /* color: #fff; */
    cursor: pointer;
    /* font: bold 36px/80px Arial; */
    text-align: center; 
    /* transition: transform 0.3s ease; */
}
#game span.number{
	cursor: pointer;
	font: bold 36px/80px Arial;
	text-align: center;
	text-shadow: -1px -1px 0 rgba(0,0,0, 0.5);
	color: #fff;
}
#game span.empty{background: transparent;cursor:default}
#game span.number.light{background-color: rgba(0, 123, 255, 0.8);}
#game span.number.dark{background: #003333;}

#game.animate span{
	-webkit-transition: 0.1s left, 0.1s top;
 	transition: 0.1s left, 0.1s top;
}

.sideways{
    padding: 80px;
    display: flex;
    flex-wrap: row;
    justify-content: center;
    /* align-self: center; */
}
#controls{text-align: center;}
#controls button{
	cursor: pointer;
	outline: none;	
	padding: 10px 20px;
	margin: 25px 2px;
	border: 0;
	border-radius: 4px;
	background: orange;
	font: bold 14px Arial;
	text-align: center;
	text-transform: uppercase;
	text-shadow: -1px -1px 0 rgba(0,0,0, 0.5);
	color: #fff;
}

/* #modal {
    width: 40%;
    height: 300px;
    background: #DE5360;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Sofia';
}

#modal #message {
    color: #FDE1E3;
    margin: 0;
    font-size: 4rem;
}

.hide {
    display: none;
}
#modal #header {
    text-align: right;
    padding: 5px 10px;
}
#modal #header button {
    padding: 10px;
    border: 0px;
    background: #456990;
    color: #E4FDE1;
    cursor: pointer;
} */